@font-face {
    font-family: 'plumbcondensedbold';
    src: url('../fonts/plumbcondensed_bold-webfont.eot');
    src: url('../fonts/plumbcondensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed_bold-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/plumbcondensed_bold-webfont.svg#plumbcondensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbcondensedblack';
    src: url('../fonts/plumbcondensed_black-webfont.eot');
    src: url('../fonts/plumbcondensed_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed_black-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed_black-webfont.ttf') format('truetype'),
         url('../fonts/plumbcondensed_black-webfont.svg#plumbcondensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'plumbcondensedlight';
    src: url('../fonts/plumbcondensed_light-webfont.eot');
    src: url('../fonts/plumbcondensed_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed_light-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed_light-webfont.ttf') format('truetype'),
         url('../fonts/plumbcondensed_light-webfont.svg#plumbcondensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbcondensedregular';
    src: url('../fonts/plumbcondensed_regular-webfont.eot');
    src: url('../fonts/plumbcondensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed_regular-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed_regular-webfont.ttf') format('truetype'),
         url('../fonts/plumbcondensed_regular-webfont.svg#plumbcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
	height: 100%;
}
body {
	margin:0;
	color:#414042;
	font:16px 'plumbcondensedregular', sans-serif;
	background:#fff;
	min-width: 960px;
	height: 100%;
}
img {
	border-style:none;
}
a {
	color:#21a94a;
	outline:none;
}
a:hover {
	text-decoration:none;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}
.img-holder img {
	vertical-align: top;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
.container{
	width: 920px;
	margin: 0 auto;
}
#header {
	position: relative;
}
#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
	z-index: 3;
}
.header-frame{
	float: right;
	width: 770px;
	border-bottom: 1px dashed #b7b7b7;
	padding: 73px 0 12px;
}
.logo{
	margin:39px 0 0 1px;
	width:96px;
	height:95px;
	overflow:hidden;
	display:block;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	float: left;
}
.logo a{
	height:100%;
	display:block;
}
#nav {
	float: left;
}
.nav {
	margin:0;
	padding:0;
	list-style:none;
}
.nav li{
	float: left;
	text-transform: uppercase;
	margin: 0 19px 0 0;
	letter-spacing: 0.03em;
}
.nav a {
	color: #414042;
	text-decoration: none;
}
.nav a:hover,
.nav .active a {
	color: #22ab4a;
}
.nav .basket a {
	padding: 0px 5px;
	color: #22ab4a;
	position: relative;
}
.nav .basket a:after{
	content: '';
	position: absolute;
	top: -3px;
	left: -5px;
	right: -5px;
	bottom: -2px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border: 3px solid #22ab4a;
}
.header-frame .phone {
	float: right;
	background: url(../images/ico01.png) no-repeat 0 2px;
	padding: 0 0 0 10px;
	font-family: 'plumbcondensedbold', sans-serif;
	color: #22ab4a;
}
.item-box {
	position: relative;
	margin: 0;
}
.item-box .gallery-holder{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.item-box .slide-list {
	margin:0;
	padding:0;
	list-style:none;
	width: 99999px;
	float: left;
}
.item-box .slide{
	float: left;
	width: 920px;
	height: 600px;
	position: relative;
}
.item-box .description {
	position: absolute;
	left: 0;
	bottom: 81px;
	z-index: 3;
	background: url(../images/description-bg.png) no-repeat;
	width: 390px;
	height: 117px;
}
.item-box .img-holder{
	text-align: center;
}
.item-box .price-col {
	float: left;
	width: 72px;
	position: relative;
	color: #fff;
}
.item-box .price {
	font-size: 28px;
	line-height: 30px;
	padding: 16px 0 0 19px;
}
.item-box .price span {
	font-size: 16px;
}
.item-box .weight {
	font-family: 'plumbcondensedlight', sans-serif;
	padding: 34px 0 0 20px;
}
.item-box .info {
	float: left;
	width: 270px;
	overflow: hidden;
	height: 95px;
	padding: 16px 0 0 19px;
}
.item-box .info .name {
	font-size: 28px;
	line-height: 30px;
	margin: 0 0 7px;
}
.item-box .info p {
	margin: 0;
}
.buy-btn {
	background: url(../images/btn01.png) no-repeat;
	width: 126px;
	height: 39px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	font-size: 28px;
	line-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 0 4px;
	text-transform: uppercase;
}
.item-box .buy-btn {
	position: absolute;
	bottom: 147px;
	right: 0;
}
#main {
	padding:13px 0 104px;
}
.item-box .prev,
.item-box .next{
	background:url(../images/arrows.png) no-repeat;
	width:35px;
	height:36px;
	position:absolute;
	top:50%;
	left:0;
	text-decoration:none;
	overflow:hidden;
	text-indent:-9999px;
	z-index: 5;
	margin-top: -83px;
}
.item-box .next{
	background-position:-35px 0;
	left:auto;
	right:0;
}
.item-box .switcher-box {
	position: absolute;
	z-index: 5;
	bottom: 32px;
	left: 0;
	width: 100%;
	white-space: nowrap;
	text-align: center;
}
.item-box .switcher-box .switcher{
	display: inline-block;
	vertical-align: top;
}
.item-box .switcher-box .more {
	display: inline-block;
	vertical-align: top;
	margin: -7px 0 0 3px ;
}
.item-box .switcher ul {
	margin:0;
	padding:0;
	list-style:none;
}
.item-box .switcher ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 2px 0 1px;
}
.item-box .switcher a {
	background: url(../images/switcher.png) no-repeat;
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-indent: -9999px;
	overflow: hidden;
}
.item-box .switcher a.active {
	background-position: 0 -10px;
}
.item-head {
	border-top: 1px dashed #cdcdcd;
	border-bottom: 1px dashed #cdcdcd;
	text-transform: uppercase;
}
.item-box .item {
	float: left;
	width: 40%;
	position: relative;
	margin: 0 0 0 10%;
}
.item-box .item + .item {
	margin: 0;
}
.item-box .item .description {
	background: url(../images/description-bg-s.png) no-repeat;
	width: 245px;
	height: 76px;
	color: #414042;
	left: 50%;
	bottom: 136px;
	margin-left: -122px;
}
.item-box .item .price-col {
	color: #414042;
	width: 62px;
}
.item-box .item .weight {
	padding-top: 4px;
}
.item-box .item .price{
	padding-top: 10px;
}
.item-box .item .info {
	width: 155px;
	height: 60px;
	padding-top: 10px;
}
.item-box .item .buy-btn {
	right: auto;
	left: 50%;
	margin-left: -50px;
	bottom: 77px;
}
.map iframe {
	vertical-align: top;
}
#footer {
	z-index: 5;
	position: relative;
	background: #22ab4a;
	color: #fff;
	height: 104px;
	margin-top: -104px;
}
.footer-logo{
	margin:3px 53px 0 0;
	width:71px;
	height:32px;
	overflow:hidden;
	display:block;
	background:url(../images/footer-logo.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	float: left;
}
.footer-logo a{
	height:100%;
	display:block;
}
#footer .contacts {
	float: left;
	background: url(../images/deco01.png) no-repeat 0 3px;
	padding: 0 0 0 25px;
	font-size: 14px;
}
#footer .contacts .col {
	float: left;
	width: 114px;
}
#footer .contacts .col + .col {
	border-left: 1px dashed #fff;
	padding: 0 0 0 13px;
}
#footer .social-list {
	margin:0;
	padding:4px 0 0;
	list-style:none;
	float: right;
}
#footer .social-list li {
	float: left;
	margin: 0 0 0 11px;
}
.social-list img{
	vertical-align: top;
}
.footer-frame {
	padding: 17px 0 0;
}
#header.fixed + #main {
	padding-top: 147px;
}
#header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px dashed #b7b7b7;
	background: rgba(255,255,255,0.8);
	z-index: 8;
}
#header.fixed .header-frame {
	padding: 14px 0 0;
	border: none;
}
#header.fixed .logo {
	margin: 0 0 -1px;
	background-position: 0 50%;
	height: 45px;
}
.item-list{
	margin:0 -110px 0 0;
	padding:55px 0 0;
	list-style:none;
	font-size:0;
	line-height:0;
	letter-spacing:-1px;
}
.item-list li{
	font-size:14px;
	line-height:normal;
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
	width: 245px;
	margin: 0 92px 84px 0;
}
* + html .item-list li{
	display:inline;
	zoom:1;
}
.item-list .img-holder{
	text-align: center;
	height: 203px;
}
.item-list .description {
	background: url(../images/description-bg-s.png) no-repeat;
	width: 245px;
	height: 76px;
	color: #414042;
	position: relative;
	z-index: 3;
	margin: 0 0 20px;
}
.item-list .price-col {
	color: #414042;
	width: 62px;
	float: left;
}
.item-list .weight {
	font-family: 'plumbcondensedlight', sans-serif;
	padding: 4px 0 0 14px;
}
.item-list .price{
	font-size: 28px;
	line-height: 30px;
	padding: 10px 0 0 14px;
}
.item-list .info {
	width: 155px;
	height: 60px;
	float: left;
	padding-top: 10px;
	overflow: hidden;
	padding: 9px 0 0 17px;
}
.item-list .buy-btn {
	margin: 0 auto;
	display: block;
}
.item-list .price span {
	font-size: 16px;
}
.item-list .info .name {
	font-size: 28px;
	line-height: 30px;
	margin: 0 0 7px;
}
.order-box {
	position: relative;
	padding: 0 171px 0 0;
	margin: 60px 0 0;
}
.order-box .total-box {
	position: absolute;
	top: 50%;
	right: 0;
	height: 138px;
	width: 138px;
	-webkit-border-radius:200px;
	border-radius:200px;
	background: #20ae4b;
	color: #fff;
	margin-top: -78px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 0 0;
}
.order-box .total-box:before {
	content: '';
	position: absolute;
	right: 100%;
	top: 50%;
	width: 30px;
	height: 1px;
	border-top: 1px dashed #b7b7b7;
}
.order-list {
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
}
.order-list:before {
	content: '';
	position: absolute;
	top: 82px;
	bottom: 98px;
	right: 0;
	border-right: 1px dashed #b7b7b7;
}
.order-list li {
	position: relative;
	overflow: hidden;
	margin: 0 0 19px;
}
.order-list li:before{
	content: '';
	background: url(../images/deco02.png) repeat-x 345px 50%;
	position: absolute;
	top: 50%;
	left: 345px;
	right: 0;
	z-index: -1;
	height: 1px;
	margin: -9px 0 0;
}
.order-list li:first-child:after{
	content: '';
	background: url(../images/deco04.png) no-repeat;
	width: 13px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 0px;
	margin: -9px 0 0 0;
	display: none;
}
.order-list li:last-child:after{
	content: '';
	background: url(../images/deco05.png) no-repeat;
	width: 13px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 0px;
	margin: -22px 0 0 0;
}
.order-list li:first-child:not(:last-child):after {
	display: block;
}
.order-list .img-holder{
	float: left;
	width: 162px;
}
.order-list .description {
	float: left;
	background: rgba(255,255,255,0.4);
	border: 1px dashed #b7b7b7;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 9px 18px;
	line-height: 28px;
	position: relative;
	margin: 43px 0 0;
	width: 143px;
}
.order-list .description .cancel {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 10px;
}
.order-list .description .name {
	font-size: 28px;
	max-height: 84px;
	overflow: hidden;
}
.order-list .num {
	float: left;
	width: 76px;
	height: 76px;
	background: #fff;
	background:#fff url(../images/deco03.png) no-repeat;
	text-align: center;
	margin: 42px 0 0 85px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 0 0;
	font-size: 28px;
	line-height: 28px;
}
.order-list .num span {
	font-size: 16px;
}
.order-box .total-box .price {
	padding: 0;
}
.order-box .total-box .title {
	margin: 0 0 7px;
}
.order-box .total-box strong {
	display: block;
	font-family: 'plumbcondensedbold', sans-serif;
	font-size: 28px;
	line-height: 28px;
}
.order-box .total-box span {
	display: block;
}
.order-box .total-box .ready {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	margin-top: 8px;
}
.popup-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:50;
	display: none;
}
.popup-holder .bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.popup {
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -275px;
	width: 372px;
	padding: 86px 86px 45px 86px;
	border: 3px solid #20ae4b;
	background: rgba(255,255,255,0.7);
	z-index: 20;
}
.popup .close {
	position: absolute;
	background: url(../images/close.png) no-repeat;
	width: 13px;
	height: 14px;
	top: 26px;
	right: 28px;
	text-decoration: none;
	text-indent: -9999px;
	overflow: hidden;
}
.custom-form .row {
	width: 100%;
	position: relative;
	margin: 0 0 10px;
}
.custom-form .row:after{
	display:block;
	clear:both;
	content:'';
}
.custom-form .input-holder{
	display: block;
	border: 1px solid #898989;
	height: 19px;
	padding: 0 5px;
	background: #fff;
}
.custom-form .input-holder input {
	float: left;
	width: 100%;
	padding: 0;
	height: 19px;
	border: none;
	background: none;
	font-size: 16px;
	line-height: 19px;
	font-family: 'plumbcondensedregular', sans-serif;
	color: #414042;
}
.custom-form .textarea-holder{
	display: block;
	border: 1px solid #898989;
	height: 66px;
	padding: 0 5px;
	background: #fff;
}
.custom-form .textarea-holder textarea {
	float: left;
	width: 100%;
	padding: 0;
	height: 66px;
	border: none;
	background: none;
	font-size: 16px;
	line-height: 19px;
	font-family: 'plumbcondensedregular', sans-serif;
	color: #414042;
	overflow: auto;
	resize:none;
	margin: 0;
}
.custom-form .btn-holder{
	padding: 8px 0 0;
}
.green-btn {
	background: #22ab4a;
	-webkit-border-radius:15px;
	border-radius:15px;
	color: #fff;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	border: none;
	padding: 0px 5px;
	font-size: 16px;
	font-family: 'plumbcondensedregular', sans-serif;
}
