AddDefaultCharset utf-8
DirectoryIndex index.php index.html
Options -Indexes

RewriteEngine on
#RewriteBase /

RewriteRule ^cp/?$ backend.php
RewriteRule ^backend/?$ backend.php

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php