{% extends '/views/layouts/column.twig' %}

{% block content %}
        <div class="container">
            <ul class="item-list">
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
                <li>
                    <div class="img-holder"><img src="images/img08.jpg" width="245" height="249" alt="image description" /></div>
                    <div class="description">
                        <div class="price-col">
                            <div class="price">50<span>грн</span></div>
                            <div class="weight">300г</div>
                        </div>
                        <div class="info">
                            <div class="name">Цезарь <br>с курицей </div>
                        </div>
                    </div>
                    <a href="#" class="buy-btn">Заказать</a>
                </li>
            </ul>
        </div>
{% endblock %}